<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Movi</title>
	<meta name="description" content="Movi - a movie serving web application">
	<meta name="author" content="Wolfgang Richter and Debjani Biswas">

	<meta name="viewport" content="width=device-width">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename=
                            'js/libs/modernizr-2.5.3-respond-1.1.0.min.js') }}"
    ></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class=chromeframe>Your browser is <em>ancient!</em>
        <a href="http://browsehappy.com/">Upgrade to a different
        browser</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">install
        Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div id="header-container">
		<header class="wrapper clearfix">
            <h1 id="title"><a href="{{ url_for('index') }}">Movi</a></h1>
			<nav>
				<ul>
                    <li><a href="{{ url_for('info') }}">Information</a></li>
                    <li><a href="{{ url_for('movies') }}">Movies</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			
			<article>
				<header>
					<h1>Information</h1>
                    <p>Movie List:</p>
                    <ul>
                        {% for movie in movies %}
                        <li><b>{{ movie[0] }}</b> : {{ movie[1] }}</li>
                        {% endfor %}
                    </ul>
				</header>
			</article>
			
			<aside>
				<h3>Server</h3>
                <p> <b>Bound IP</b>: {{ ip }} <br \>
                    <b>Bound Port</b>: {{ port }} <br \>
                    <b>Server</b>: {{ server }} <br \>
                    <b>Python Version</b>: {{ python }} <br \>
                    <b>Flask Version</b>: {{ flask }} <br \>
			</aside>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
            <h3>Copyright (c) 2012 Wolfgang Richter, Debjani Biswas</h3>
		</footer>
	</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>

    <script>window.jQuery || document.write(
        '<script src="{{ url_for('static',
                                 filename='js/libs/jquery-1.7.2.min.js') }}">
         <\/script>')
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+
            '.google-analytics.com/ga.js'; s.parentNode.insertBefore(g,s)}
        (document,'script'));
    </script>

</body>
</html>
